  html,
  body {
    padding-bottom: 0;
  }

  .index {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    width: 100%;
    min-height: 100vh;
    padding: 10rem;
  }

  .index:before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: translateY(-100%);
    background: linear-gradient(rgb(20, 20, 20) 20%, var(--color-transparent) 50%, rgb(20, 20, 20) 80%);
    animation: bg 4.8s linear 1s infinite;
  }

  @keyframes bg {
    from {
      transform: translateY(-200%);
    }

    to {
      transform: translateY(200%);
    }
  }

  .index:after {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    z-index: -2;
    width: 100%;
    height: 100%;
    background-color: rgb(20, 20, 20);
  }

  .index__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  .index__item {
    position: relative;
    z-index: 5;
    display: block;
    min-width: 66rem;
    padding: 2rem 5rem;
    border-radius: 2.4rem;
    border: 1px solid var(--color-transparent);
    font-size: 3rem;
    color: white;
    text-align: center;
    text-transform: uppercase;
    transition: transform .5s ease;
  }

  @media (min-width: 48.01em) {
    .index__item:nth-child(odd) {
      transform: translateX(-8rem);
    }

    .index__item:nth-child(even) {
      transform: translateX(8rem);
    }
  }

  .index__item:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -2;
    width: 105%;
    height: 120%;
    transform: translate(-50%, -50%) scale(0.95, 0.83);
    border-radius: inherit;
    filter: blur(1rem);
    background-color: var(--color);
    transition: transform .5s ease, filter .5s ease;
  }

  .index__item:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background-color: #303030;
  }

  .index__item:hover:before {
    transform: translate(-50%, -50%) scale(1);
    filter: blur(1.5rem);
  }

  .animation-wrapper {
    width: 100%;
    height: 100%;
  }

  .stagger-visualizer {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: left top;
  }

  .stagger-visualizer .dots-wrapper {
    transform: translateZ(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .stagger-visualizer .dot {
    position: relative;
    z-index: 1;
    width: 7.77%;
    height: 14.9rem;
    margin: 0.5rem;
    transition: background-color 1.5s ease;
    border-radius: 1rem;
    background: #202020;
    box-shadow: inset 1.2rem 1.2rem 2rem #171717,
      inset -1.2rem -1.2rem 2rem #292929;
    will-change: transform;
  }

  .stagger-visualizer .dot.active {
    background-color: var(--color);
  }

  .stagger-visualizer .dot:hover {
    background-color: var(--color);
    transition: background-color .1s ease;
  }

  @media (max-width: 48em) {
    .stagger-visualizer .dot {
      width: 18.6%;
      height: 13.8rem;
    }

    .index {
      gap: 3rem;
      padding: 10rem 4rem;
    }

    .index__item {
      min-width: auto;
      width: 100%;
      padding: 2.5rem 4rem;
      border-radius: 100rem;
    }

    .index__item:before {
      transform: translate(-50%, -50%) scale(0.97, 0.88);
    }
  }