//- Mixins
include mixin.pug

header.header
  .header__container.container
    a(href="main.html", aria-label="Логотип").header__logo
      img(src="img/logo.png", alt="Potter Family")
    nav.header__nav#menu
      button.header__nav-close#menu-close
        +icon("close")
      ul.header__nav-list 
        //- Data nav
        - var nav = [{id: "services", name: "Услуги", href: "services.html"}, {id: "portfolio", name: "Портфолио", href: "portfolio.html"}, {id: "about", name: "О нас", href: "about.html"}, {id: "contacts", name: "Контакты", href: "contacts.html"}]

        each link in nav
          li.header__nav-item
            a(href= link.href).header__nav-link= link.name
      a(href="tel:+74991362923", aria-label="Номер телефона").header__nav-tel +7 (499) 136 29 23
    .header__box-right
      a(href="tel:+74991362923", aria-label="Номер телефона").header__tel +7 (499) 136 29 23
      a(href="basket.html", aria-label="Корзина").header__basket
        +icon("basket")

  //- script(src="js/header.js")